$menu-label-color: white;
$menu-label-font-size: 1rem;
$menu-item-color: #828282;
$menu-item-active-background-color: #385eb3;
$menu-item-hover-background-color: #5a8dff;

@import "~bulma";

.container.is-side {
  padding: $size-small;
}

.container.is-main {
  padding: $size-small;
}
